body {
  background: rgb(54,54,235);
  background: linear-gradient(36deg, rgba(54,54,235,1) 0%, rgba(199,60,60,1) 44%, rgba(157,38,38,1) 65%, rgba(69,34,145,1) 100%);
  font-size: x-large;
  font-family: MicraDi;
  text-align: center;
  min-height: 100%;
  height: 120vh;
}

.card {
    font-family: MicraDi;
    color: white;
    margin: auto;
    background: rgb(11,53,112);
    background: radial-gradient(circle, rgba(11,53,112,0.14609593837535018) 12%, rgba(11,53,112,0.2329306722689075) 35%, rgba(11,53,112,0.4150035014005602) 75%);
    border-radius: 50px;
}

.container{
    padding-top: 50px;
    margin: auto;
    width: 600px;
    height: 700px;
}

.Text{
    text-align: center;
    height: 200px;
    vertical-align: center;
}

h4{
    padding-top: 30px;
}

.image{
    border-color: #242c37;
    border-radius: 50px;
    padding: 30px 0 0 0;
}

* {
    box-sizing: border-box;
    text-decoration:none;
    margin: 0;
}

.nav {
    font-family: MicraDi;
    background: rgb(11,53,112);
    background: radial-gradient(circle, rgba(11,53,112,0.14609593837535018) 12%, rgba(11,53,112,0.2329306722689075) 35%, rgba(11,53,112,0.4150035014005602) 75%);
    overflow: hidden;
    line-height:40px;
}

.nav a {
    font-family: MicraDi;
    float: right;
    display: block;
    cursor:pointer;
    color: #f2f2f2;
    width: auto;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size:24px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

#check
{
    display:none;
}

.main{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}



button {
    font-family: MicraDi;
    width: 50%;
    height: 30px;
    background-color: #f81b1b;
    margin: 0 0 25px 0;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }

button:hover {
    border-color: white;
    transition: 0.4s;
}

